body {
    overflow: hidden !important;
    background-color: rgb(255, 255, 255);
}

span {
    display: inline-block;
    max-width: 100%;
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: pre-wrap
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    padding: 5%;
}

.login-form {
    padding: 5%;
    background: linear-gradient(90deg, rgb(70, 70, 77) 0%, rgb(136, 130, 130) 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

.login-form h3 {
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
}

.register-form {
    padding: 5%;
    background: linear-gradient(90deg, rgb(70, 70, 77) 0%, rgb(136, 130, 130) 100%);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    height: 100%;
}

.register-form h3 {
    text-align: center;
    color: #fff;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

div>img {
    width: 100%;
}

.divImage {
    width: 75%;
}

.divLogin {
    height: 100vh;
    align-items: center;
    width: 24.99%;
    background-color: rgb(243, 243, 243);
}

.search-box {
    padding-top: 5px;
}

.classNORESPONSIVE {}

.userIcon {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid;
}

.userIconS {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border: 1px solid white;
}

.userProfile{
    color: #fff;
    margin: auto;
    margin-left: 20px!important;
    padding-right: 5px;
}

ul, li, a{
    list-style: none !important;
    text-decoration: none !important;
}
.dropdown-menu {
    min-width: 9rem;
}

.followButton,
.newMessage {
    float: right;
}

.sendButton {
    clear: right;
    float: right;
}

.suggestion {
    margin-bottom: 100px;
}

.suggested {
    overflow-y: scroll;
    height: 95vh;
}

.text {
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: pre-wrap
}

.suggested {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.suggested::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.posts {
    -ms-overflow-style: none;
    /* for Internet Explorer, Edge */
    scrollbar-width: none;
    /* for Firefox */
    overflow-y: scroll;
}

.posts::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari, and Opera */
}

.usersPost,
.followerChat {
    padding: 10px;
    outline: 1pt solid rgba(199, 199, 199, 0.788);
    margin-top: 1px;
    margin-left: 1px;
}

.followerMessage{
    float: left;
}

.userPost,
.usersPost {
    margin-bottom: 1px;
}

.userPost {
    padding: 10px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin-bottom: 10px;
}

.main-container {
    background-color: #fff;
}

ul.ui-autocomplete {
    z-index: 1100;
}

.modal-body {
    height: 400px;
}

.ui-autocomplete {
    color: black;
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
}

.userMessage {
    float: right;
    background-color: rgb(253, 226, 185);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

.userMessage>* {
    float: right;
}

#textPost {
    border: 1pt solid rgb(73, 73, 73);
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.textMessageUser>* {
    float: right;
}

.followerMessage {
    background-color: rgb(255, 168, 255);
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

.messages {
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}



.textUserMessage{
    width: 80%;
    word-break: break-all;
}

.main-container{
    height: 100vh;
    overflow-y: auto!important;
}

.modal-dialog {
    height: 95vh !important;
}

.modal-content {

    /* 80% of window height */

    height: 95vh !important;
}

.followersMessages {
    height: 100%;
}

.messages>div {
    margin: 10px 0px 10px 0px;
}

.posts {
    overflow-y: scroll;
    height: 85vh;
}

.person {
    width: 50px;
    height: 50px;
    position: relative;
}

#events{
    width: 90%;
}

.event{
    width: 25%;
}

img {
    height: 100%;
    width: 100%;
}

.status-circle-dis {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}

.status-circle-conn {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(91, 180, 32);
    border: 2px solid white;
    bottom: 0;
    right: 0;
    position: absolute;
}

#map {
    height: 350px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

.container-people{
    overflow: auto;
    height: 100vh;
}

#inputUser {
    width: 90%;
}

#buttonInput {
    width: 9%;
    text-align: center;
    margin: auto;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

@media (min-width: 768px) {
    .inputLogin {
        width: 45%;
        margin: auto;
        font-size: 10px !important;
    }

    .inputRegister {
        width: 45%;
        margin: auto;
        font-size: 10px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

@media (max-width: 768px) {
    .divImage {
        display: none !important;
    }

    .inputLogin {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
    }

    .inputRegister {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 3;
    }

    .divLogin {
        width: 100% !important;
        height: 100vh;
    }

    .login-form {
        margin-bottom: 100px !important;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin-bottom: 100px !important;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .inputLogin {
        width: 75%;
        margin: auto;
        font-size: 14px !important;
    }

    .inputRegister {
        width: 75%;
        margin: auto;
        font-size: 14px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .inputLogin {
        width: 100%;
        margin: auto;
        font-size: 17px !important;
    }

    .inputRegister {
        width: 100%;
        margin: auto;
        font-size: 17px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 17px !important;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}