body
{
 padding:0;
 margin:0;
}  

body,
html {
    overflow: hidden !important;
    background-color: rgb(70, 70, 77);
}

.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}

.login-logo {
    position: relative;
    margin-left: -41.5%;
}

.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    padding: 5%;
}

.login-form {
    padding: 5%;
    height: 100%;
    z-index: 9999;
}

a{
    text-decoration: none!important;
    color: #fff!important;
}

.login-form h3 {
    text-align: center;
    margin-bottom: 10%;
    color: #fff;
}

.register-form {
    padding: 5%;
    height: 100%;
    z-index: 9999;
}

.register-form h3 {
    text-align: center;
    color: #fff;
}

.background-image {
  width: 24%;
  text-align: center;
  background-image:url("../img/headphonesCut.jpg");
  background-size: cover;
  -webkit-filter: blur(13px);
  -moz-filter: blur(13px);
  -o-filter: blur(13px);
  -ms-filter: blur(13px);
  filter: blur(13px);
  z-index: -1;
}

.btnSubmit {
    font-weight: 600;
    width: 50%;
    color: #282726;
    background-color: #fff;
    border: none;
    padding: 2%;
}

.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

div>img {
    width: 100%;
}

.divImage {
    width: 75%;
}

.divLogin {
    height: 100vh;
    align-items: center;
    background-image:url("../img/headphonesCut.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 24.99%;
    background-color: rgb(70, 70, 77);
    border-left: 1pt inset black;
}

.classNORESPONSIVE{

}

.spinner {
    border: 4px solid rgba(253, 253, 253, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: rgb(0, 0, 0);
    text-align: center;
    margin: auto;
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  

@media (min-width: 768px) {
    .inputLogin {
        width: 45%;
        margin: auto;
        font-size: 10px !important;
    }

    .inputRegister {
        width: 45%;
        margin: auto;
        font-size: 10px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

@media (max-width: 768px) {
    .divImage {
        display: none !important;
    }

    .inputLogin {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
    }

    .inputRegister {
        width: 100%;
        margin: auto;
        font-size: 14px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 3;
    }

    .divLogin {
        width: 100% !important;
        height: 100vh;
    }

    .login-form {
        margin-bottom: 100px !important;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin-bottom: 100px !important;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .inputLogin {
        width: 75%;
        margin: auto;
        font-size: 14px !important;
    }

    .inputRegister {
        width: 75%;
        margin: auto;
        font-size: 14px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 14px;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .inputLogin {
        width: 100%;
        margin: auto;
        font-size: 17px !important;
    }

    .inputRegister {
        width: 100%;
        margin: auto;
        font-size: 17px !important;
    }

    input::-webkit-input-placeholder {
        font-size: 17px !important;
        line-height: 3;
    }

    .login-form {
        margin: auto;
        padding-top: 50%;
    }

    .register-form {
        margin: auto;
        padding-top: 50%;
    }
}