.userImgProfile{
    width: 100px;
    height: 100px;
}

.profileContainer{
    height: 85vh;
}

body{
    height: 100vh;
}

#inputDescription{
    cursor: auto;
}

#profileImg{
    border-radius: 50%;
}

img[src$="#custom_marker"]{
    border: 2px solid #900 !important;
    border-radius:50%;
}

.main-container{
    overflow-y: auto!important;
    height: 90vh;
}

#carouselExampleIndicators{
    height: 70vh;
}

.collapse > .card{
    background-color: rgb(214, 191, 211)!important;
}

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.eventProfile{
    margin: 10px;
    padding: 0px 10px;
    line-height: 20px;
    word-wrap: break-word;
    overflow: auto!important;
    height: 80%;
    width: 100%;
}

.card{
    cursor: default!important;
}

#editProfile{
    cursor: pointer;
}

.descripcionEvento{
    height: 100%;
}

.carousel-inner{
    height: 100%;
}

.carousel-item{
    height: 100%;
}

#warningPostsProfile{
}