@font-face{
    font-family: neon;
    src: url(Andhibath.otf);
}
.mainmain{
    background: url("../img/headphones.jpg") no-repeat center fixed;     
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 90vh;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
}

#songCover{
    width: 300px;
    height: 300px;
}

.controls{
    width: 50%;
}

#songCover > img{
    width: 100%;
}
#mainContainer{
    width: 500px;
    height: 80vh;
    background-color: rgba(14, 14, 14, 0.753);
    display: flex;
    justify-content: center;
}

#musicContainer{
    width: 300px;
}

h1 > i {
    font-size: 20pt;
    color: rgb(98, 55, 255);
}
.player {
    padding-top: 30px;
}

#trackContainer{
    width: 400px;
    height: 80vh;
    background-color: rgba(14, 14, 14, 0.753);
    overflow-y: scroll;
}

.trackList{
    padding-top: 5px;
    color: rgb(137, 253, 195);
    font-size: 30pt;
}

#songTitle{
    text-align: center;
    color: #4C868B;
    font-size: 2em;
}

h1{
    font-size: 4em;
    color: cadetblue;
}

.controler > img{
    width: 50px;
    height: 50px!important;
    border-radius: 10px;
}

#volume, #panner{
    color: cornflowerblue;
    background-color: cornflowerblue;
}

#labels{
    width: 300px;
}

button{
    width: 100%;
    background: none;
    border-radius: 1em;
}
